# --- ignore large data ------------------------------------------------
*.wav
*.csv
*.pth
# --- Python noise -----------------------------------------------------
__pycache__/
*.py[cod]
# ---------------------------------------------------------------------